name: "Update env"
on:
  schedule:
    - cron: "0 10 * * *" # every day at 10:00

jobs:
  update-env:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - uses: actions/checkout@v6

      - run: sh update-env.sh

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          title: Update env
          branch: github-actions/build/update-env
          commit-message: "feat: update env"
          body: Automated update env
